.width100 {
    width: 100%;
}

.section-content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding:10px;
    margin-top: 10px;
}

td, th {
border: 1px solid #dddddd;
text-align: center;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}